html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: capitalize;
}

ul a:hover {
    text-decoration: underline;
}

header {
    background-color: lightgray;
    border-bottom: 2px solid darkblue;
    padding: 20px 20px;
    display: flex;
    align-items: center;
}

nav>ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

.logo {
    font-size: 40px;
    text-transform: uppercase;
}

button.login{
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    background-color: #fff;
    border: 0;
    padding: 5px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-field {
    background-color: darkgray;
    display: inline-flex;
    flex: 1;
    margin: 0 40px;
}

.search-field input {
    flex: 1;
    background: transparent;
    border: 0;
    border-radius: 5px;
    overflow: hidden;
}

.main-aside-container {
    display: flex;
    padding: 40px 40px 0 40px;
    align-items: flex-start;
}

.main-aside-container aside {
    order: -1;
    flex: 0 1 15%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-right: 30px;
}

.main-aside-container main {
    flex: 1;
}

.cards-container {
    display: flex;
    flex-flow: column wrap;
}

.cards-row {
    display: flex;
    margin-bottom: 50px;
}

.cards-row section {
    margin-top: 0;
}

.card {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
}

.card .body {
    padding: 10px;
}

.card .body p {
    margin-top: 0;
}

.card footer{
    padding: 10px;
    background-color: antiquewhite;
}

.card header, .card footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}