@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: "Open sans", sans-serif;
    margin: 0;
}

.btn{
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
}

.btn:hover{
    cursor: pointer;
}

.btn-outline-light{
    border: 2px solid white;
}

/* Later in css if .btn is not use now the color is overwritten. Now the selector is more heavy and can't be overwritten*/
.btn.btn-outline-light a{
    color: white;
}

.site-header{
    background: linear-gradient(90deg, rgba(255,99,94,1) 0%, rgba(209,51,91,1) 75%);
    padding: 20px 40px;
}

.site-header-navigation{
    display: flex;
    justify-content: space-between;
}

.site-header-navigation-image-wrapper{
    max-width: 100px;
    overflow: hidden;
}

.site-header-navigation-image-wrapper img{
    width: 100%;
}

.site-header-content-list{
    display: flex;
}

.site-header-content-list-item{
    list-style: none;
    margin: 0 10px;
}

.site-header-content-list-item>a{
    color: lightgrey;
    text-decoration: none;
}

.site-header-content-list-item:first-child a,
.site-header-content-list-item>a:hover {
    color: white;
}