footer{
    display: flex;
    width: 100%;
    padding: 1.2em 3em;
    justify-content: space-between;
    align-items: center;
    background: rgba(230, 227, 222, 0.8);
}

footer section ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

footer section ul li{
    margin: 0;
    padding-left: 20px;
}

footer section ul li:not(:last-child){
    border-right: 1px solid rgb(85, 73, 56);
    padding-right: 10px;
}

footer section ul li a{
    text-decoration: none;
    color: rgb(85, 73, 56);
}