.nav-header{
    padding: 0.5em 3em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-header a{
    text-decoration: none;
    color: rgb(85, 73, 56);
}

.nav-header-menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-header-menu ul>li{
    display: inline-block;
}

.nav-header-menu ul>li:not(:first-child){
    display: inline-block;
    margin-left: 2rem;
}

.btn.btn-filled {
    padding: 0.3rem 0.5rem ;
    color: white;
    background-color: rgb(85, 73, 56);
    margin-right: 1.5em;
    outline: none;
}

.btn.btn-transparent{
    font-weight: bold;
    color: black;
    background: transparent;
    border: none;
    outline: none;
}