@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');
@import 'https://use.fontawesome.com/releases/v5.14.0/css/all.css';
@import "./reset.css";
@import "./typography.css";
@import "./header.css";
@import "./main.css";
@import "./footer.css";

body {
    background: rgb(230, 227, 222);
}

section.main-footer-wrapper {
    background: url('../Requirements-and-Resources/Media/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}