.main-advert{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 20px auto;
}

@media screen and (max-width: 899px){
    .main-advert{
        width: 90%;
    }
}

.main-advert>article{
    display: flex;
    flex-basis: 40%;
}

.main-advert .content{
    flex-direction: column;
    margin-right: 2em;
}

.main-advert .image-wrapper img{
    width: 50%;
}

.main-advert .content button{
    color: black;
    background-color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.5em 1em;
    border: 0.1em solid black;
    border-radius: 0.2em;
    max-width: 50%;
}

.main-advert .content button:hover{
    color: white;
    background-color: #730078;
    cursor: pointer;
}

.team {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

.team>h2{
    display: flex;
    flex-direction: column;
}

.team>h2::after{
    position: relative;
    content: ' ';
    height: 2px;
    width: 50%;
    background: black;
    align-self: center;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.team-cards-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.newsletter {
    background-color:#68347B;
    padding: 0.5em 0 3em;
    box-shadow: 0 -0.5em 1em 0 #68347B;
}

.newsletter h2 {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.newsletter>h2::after{
    position: relative;
    content: ' ';
    width: 3em;
    height: 3px;
    background: black;
    align-self: center;
    text-align: center;
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
}

.newsletter form {
    width: 30em;
    margin: 0 auto;
}

.newsletter input[type="email"] {
    color: black;
    background-color: white;
    padding: 0.5em 1em;
    border: 0.1em solid black;
    border-radius: 0.2em;
    width: 70%;
}

.newsletter input[type="submit"] {
    color: black;
    background-color: white;
    padding: 0.5em 1em;
    border: 0.1em solid black;
    border-radius: 0.2em;
}

.newsletter input[type="submit"]:hover{
    cursor: pointer;
}

@media (max-width: 500px) {
    .newsletter form {
        width: 25em;
    }

    section.newsletter form input[type="email"] {
        margin-bottom: 5px;
    }
}

@media (max-width: 300px) {
    section.newsletter form {
        width: 10em;
    }

    section.newsletter form input[type="email"] {
        width: 100%;
    }
}