footer {
    background: rgb(178, 241, 221);
}

footer h4 {
    text-align: center;
    padding: 20px 0;
}

.footer-cards{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-cards .footer-card{
    width: 28%;
    margin: 30px 0;
}

.footer-card h6{
    text-align: center;
    line-height: 1;
    margin-bottom: 0.5em;
}

.footer-card p {
    text-align: center;
}

.footer-email-wrapper {
    text-align: center;
    padding: 30px 0;
}

.footer-email-wrapper a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}